:root {
  --blue: #0e294b;
  --white: #fff;
  --orange: orange;
  --box-shadow: 0 0.5rem 1.5rem rgba(73, 48, 48, 0.1);
}

html{
  scroll-behavior: smooth;
}
body {
  font-family: "poppins", sans-serif;
  /* font-size: 1.125rem; */
  margin: 0;
  padding: 0;
  background: var(--blue);
  color: var(--white);
}
/* home section starts  */
.home-container {
  width: 95%;
  max-width: 980px;
  margin: 0 auto;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 17.5rem;
  padding-bottom: 17.5rem;
}
.home-heading {
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
  font-size: xxx-large;
}
.icons-container-home {
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  padding: 0;
}
.social-icons a {
  text-decoration: none;
}

.social-icons a i{
  font-size: 1rem;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: white;
  color: var(--blue);
  transition: transform 0.5s ease ;
}
.social-icons a i:hover {
  color: #ff3f80;
  -webkit-transform: scale(1.1) translateY(-5px) rotate(360deg);
  transform: scale(1.1) translateY(-5px) rotate(360deg);
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.button {
  margin-top: 1rem;
  border-radius: 5rem;
  padding: 0.5rem 1.5rem;
  letter-spacing: 0.2em;
  font-size: 0.9rem;
  background: transparent;
  border: 1px solid #fff;
  color: var(--white);
  cursor: pointer;
  text-decoration: none;
}
/* header section starts*/
header {
  display: none;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container {
  width: 85%;
  max-width: 980px;
  margin: 0 auto;
}
.header-heading {
  font-weight: 400;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}
nav .nav-list {
  list-style: none;
  padding: 0;
  display: flex;
}
.nav-list-item {
  margin-left: 1.7em;
}
.nav-link {
  text-align: center;
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
}
nav .nav-link:hover,
nav .nav-link:focus {
  color: #6888aa;
}
.container-nav {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 650px) {
  header {
    display: block;
  }
  .home {
    display: none;
  }
}
/* header section ends  */

/* about section starts  */
.row {
  display: flex;
  gap: 7rem;
  align-items: center;
}
.about-heading {
  font-weight: 400;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
}
.image img {
  width: 50rem;
  border-radius: 50%;
  max-width: 100%;
}
.about-para {
  margin: 0;
  font-size: 1.2rem;
  padding: 0.5rem 0;
}
.container-about {
  width: 85%;
  max-width: 980px;
  margin: 0 auto;
  padding-top: 2rem;
}
.icons-container {
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  padding: 0.1rem 0;
}
@media (max-width: 650px) {
  .row {
    display: block;
    text-align: center;
  }
  .image img {
    width: 20rem;
    border-radius: 50%;
    max-width: 100%;
  }
}
/* about section ends  */

/* project secrion starts  */
.container-project {
  width: 85%;
  max-width: 980px;
  margin: 0 auto;
}
.project-heading {
  font-weight: 400;
  margin-bottom: 0.2rem;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 5rem;
}
.project-para {
  margin: 0;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  text-align: center;
}
.project .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1.5rem;
}
.project .box-container .box {
  background: #0e294b;
  border-radius: 0.5rem;
  border: 2px solid rgba(255, 255, 255, 0.5);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding-bottom: 0.5rem;
}
.project .box-container .box img {
  height: auto;
  /* border-radius: 0.3rem; */
  width: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center;
}
.sub-para {
  color: #fff;
  font-weight: 400;
  margin-top: 0.6rem;
  /* font-size: 1.1rem; */
  letter-spacing: 1px;
  margin-bottom: 1rem;
}
.project .box-container .box .link {
  background: #0e294b;
  border-radius: 0.8rem;
  margin-bottom: 0;
  padding: .75rem 0.35rem;
}
.project .box-container .box .link a {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  background: #247ba0;
  color: #fff;
  margin-right: 0.2rem;
  text-align: center;
  text-decoration: none;
  /* letter-spacing: 1px; */
  border: 1px solid #fff;

  font-size: .77rem;
  letter-spacing: .1em;
  font-weight: 600;
  text-transform: uppercase;
}
.project .box-container .box .link a:hover {
  border: 1px solid white;
  outline: none;
  box-shadow: 0 0 5px rgba(23, 80, 141, 0.5);
}
.project .box-container .box .link h3 {
  /*  text-decoration: underline; */
  margin: 0;
  font-size: x-large;
}
@media (max-width: 650px) {
  .project .box-container .box .link a {
    /* margin-right: 1rem; */
  }
}

/* contact section starts  */
.contact-row {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.contact-heading {
  font-size: 2rem;
  padding-top: 5rem;
  margin: 0;
  padding-bottom: 0.5rem;
}
.contact-para {
  margin-top: 0;
  font-size: 1.2rem;
}
.container-contact {
  width: 85%;
  max-width: 980px;
  margin: 0 auto;
  padding-top: 2rem;
}
.contact-info {
  margin: 0;
  padding-bottom: 3rem;
}
.input input,
.input textarea {
  font-family: "poppins", sans-serif;
  width: 95%;
  background: #6888aa;
  margin-bottom: 1.5rem;
  padding: 0.8rem;
  padding-right: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.input input::placeholder,
.input textarea::placeholder {
  color: var(--white);
}
.input input:hover,
.input textarea:hover {
  border: 2px solid white;
  outline: none;
  /* box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); */
}
.info {
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
  padding-left: 0.5rem;
}
@media (max-width: 650px) {
  .contact-info {
    display: block;
  }
}
